
body{
    font-family:'Montserrat';
    
    }
    #title {
        background-color: #ff4c68;
        padding: 3% 15%;
        color: white;
    }
    
    h1{
        font-family: 'Poppins';
       
          font-size:3.5rem;
    
        
    line-height: 1.5
    
    }
    h2{
        line-height: 1.5;
        font-size: 3rem;
        font-weight: 700;
    
    }
    h3{
        font-family: 'Poppins';
        font-weight: 400;}
       
    p {
        color: grey;
    }
    .container-fluid{
        padding: 3% 10% 7%;
    }
    /* navigation bar */
    
    .navbar{
       
        margin-bottom:2.5rem;
    }
    
    .navbar .navbar-brand{
        font-family: 'Ubuntu';
        font-size:x-large;
        font-weight: bold;   
    
    
    
    }
    .navbar-nav .nav-item{
        padding: 0 18px;
    }
    .navbar-nav .nav-item .nav-link{
       font-size: 1.2rem;
        font-weight: lighter;
      
    }
    /* buttons */
     .download-button{
    
    margin: 5% 3%  5% 0;
    }
    
    /* title image */
    
    .title-image{
        width: 60%;
        transform: rotate(23deg);
      margin-top: 50px;
      position: absolute;
      right: 30%;
      
    
    
    }
    
    @media (max-width:1200px){
        #title{
            text-align: center;
        }
        .title-image{
             position:static;
             transform: rotate(0)
            
        }
        h1{font-size:40px;}
      
        
    }
    #features{
    background-color: white;
    padding: 7% 8%;
    position: relative;
    
    
    }
    .feature-box{
        text-align: center;
        padding: 5% 3%;
    }
    .icon{
        color:#ef8172;
        margin-bottom: 1rem;
    }
    .icon:hover{
        color:#ff4c68;
    }
    #testimonials{
    
    
    background-color: #ef8172;
    text-align: center;
    color: white;
    }
    
    .testimonial-img{
        width: 10%;
        border-radius: 100%;
        margin: 20px;
       }
    
    
    #press{
    text-align: center;
        background-color: #ef8172;
    
    padding-bottom: 30px;}
    
    
    .press-logo{
        width: 15%;
        margin: 20px 20px 50px;
    }
    
    
    /* carousel */
    .carousel-item{
    padding: 7% 15%;
    
    }
    
    
    
    /* pricing section */
    
    
    
    
    #pricing{
    
    padding: 100px;
    text-align: center;
    
    }
    
    
    .pricing-col{
    
        padding: 3% 2%;
    
    }
    /* section cta */
    
    #cta{
        background-color: #ff4c68;
        color: white;
        text-align: center;
        padding:  5% 15% ;
        margin-bottom: 30px;
    }
    footer{
        text-align: center;
    
    
    }
    footer a{
      margin: 0 2% 10%;
        color: black;
    
    }
    footer p {
        margin-top: 30px;
    }
    
    
    